.register__image {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.register__head {
  font-size: 18px;
  font-weight: 700;
  color: #aaa;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
