.header__container {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.header__main {
  align-items: center;

  padding: 15px 0;
}

.header__input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
}

.header__input.focus {
  border: 1px solid var(--primary-color);
}

.header__input input {
  width: 95%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #eee;
}

.header__input i {
  color: #616161;
  cursor: pointer;
}

.header__user {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.header__user a {
  margin-right: 30px;
  cursor: pointer;
  font-size: 14px;
}

.header__user a:hover {
  color: var(--success);
  text-decoration: underline;
}

.header__user button {
  width: 25%;
  border-radius: 5px;
}

.header__categories {
  align-items: center;
  justify-content: space-between;
}
.header__categories i,
.header__categories div {
  padding: 20px 5px;
  color: #616161;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.header__categories div:hover {
  color: var(--success);
}

.header__categories div::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  top: 93%;
  left: 2px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 114, 1) 21%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: 0.2s;
}

.header__categories div:hover::after {
  width: 100%;
}
